<%- include('components/Header.ejs') %>
<div class="grid h-screen place-items-center dark:bg-black bg-white">
    <div class="flex flex-col justify-center">
        <h1 class="font-bebas md:text-9xl text-7xl text-center"><%= statusCode %></h1>
        <h1 class="font-bebas md:text-4xl text-2xl text-center"><%= message %></h1>
        <a href="/">
            <button class="btn-1">Back to Homepage</button>
        </a>
    </div>
</div>