<%- include('components/Header.ejs') %>
<%- include('components/Navbar.ejs') %>
<div class="flex flex-col items-center h-screen justify-center py-6 bg-gray-800">
    <div class="flex flex-row gap-4 items-center justify-center">
        <div class="flex flex-col justify-center items-center">
            <img src="/public/nt_svg.svg" alt="logo" width="300px">
        </div>
        <div class="flex flex-col justify-center items-center max-w-md">
            <p class="text-justify text-xl font-poppins">
                The Nintod Project is the open-source general purpose discord bot.
                It was created by <a href="https://github.com/thevvx/" class="bg-gradient-to-r from-red-400 to-red-500 p-1 font-bold rounded-lg">VVX</a>.
                It is aimed to be a general purpose bot that can be used for many things.
                Everything from moderation to fun commands. It is very easy to use and has a lot of features.
                It also uses Discord Slash Commands instead of a normal prefix system which makes it more user-friendly.
                The bot is currently in development and may be not fully functional.
                The bot name is <b>Nintod</b> and the project name is <b>The Nintod Project</b>.
                We also have <span class="text-white font-ubuntu font-bold bg-gradient-to-r from-blue-400 to-violet-500 p-1 rounded-lg">Nintod Nightly</span>. It is a nightly build of the bot that is not released to the public.
                If you want to use it you can join our <a href="https://x.vvx.bar/nt/sup" class="bg-gradient-to-r from-blue-400 to-blue-600 hover:from-blue-600 p-1 rounded-lg font-bold">Discord Server</a>. (Offline most of the time)
            </p>
        </div>
    </div>
</div>
<%- include('components/Footer.ejs') %>