<%- include('components/Header.ejs') %>
<%- include('components/Navbar.ejs') %>
<div class="flex flex-col items-center h-screen justify-center py-6 gap-4 bg-gray-800">
    <div class="flex flex-col items-center justify-center">
        <img src="/public/vvx_svg.svg" alt="vvxlogo" width="200px">
        <h1 class="text-6xl font-bold font-ubuntu">
            Contact Us
        </h1>
    </div>
    <div class="flex flex-col items-left justify-left">
        <p class="text-2xl font-bold">
            Email: <a href="mailto:contact@vvx.bar">contact@vvx.bar</a>
        </p>
        <p class="text-2xl font-bold">
            Github: <a href="https://github.com/thevvx">thevvx</a>
        </p>
        <p class="text-2xl font-bold">
            Youtube: <a href="https://www.youtube.com/channel/UCd0qxGN-_2GTiMGD9kQceow">VVX Media</a>
        </p>
    </div>
</div>
<%- include('components/Footer.ejs') %>