<%- include('components/Header.ejs') %>
<%- include('components/Navbar.ejs') %>
<div class="grid py-6 place-items-center bg-gray-800">
    <div class="flex flex-col justify-center items-center gap-2">
        <img src="/public/nt_svg.svg" id="logo" alt="logo" width="300px" class="rounded-full">
        <h1 class="text-6xl font-ubuntu font-bold">THE NINTOD PROJECT</h1>
        <p class="text-xl font-ubuntu">A simple, open-source, and free, fast, secure, and reliable discord bot.</p>
        <div class="flex flex-row w-full gap-2">
            <a href="https://x.vvx.bar/nt/inv" class="w-full" target="_blank">
                <button class="btn-1">INVITE</button>
            </a>
            <a href="https://github.com/thevvx/Nintod" class="w-full" target="_blank">
                <button class="btn-2">GITHUB</button>
            </a>
            <a href="https://github.com/thevvx/Nintod#readme" class="w-full" target="_blank">
                <button class="btn-1">DOCUMENTATION</button>
            </a>
        </div>
    </div>
</div>
<div class="flex flex-col px-24 py-6 bg-gray-800 gap-6">
    <h1 class="text-5xl font-bold font-ubuntu"><i class="fa-solid fa-circle-question"></i> Why Nintod?</h1>
    <div class="flex flex-row gap-6 items-stretch">
        <div class="rounded-lg p-2 bg-gray-700 basis-full flex flex-col gap-2 shadow-lg hover:-translate-y-2 duration-200">
            <h1 class="text-3xl font-bold font-ubuntu">
                <i class="fa-brands fa-osi"></i> Open Source
            </h1>
            <p class="text-md font-poppins text-justify">
                Nintod is open source and free to use. You can contribute to the project by submitting pull requests or creating issues.
                All the code is available on GitHub. Because open source is a great way to learn new things and to share your knowledge.
                You can even customize the bot to your liking.
            </p>
        </div>
        <div class="rounded-lg p-2 bg-gray-700 basis-full flex flex-col shadow-lg hover:-translate-y-2 duration-200">
            <h1 class="text-3xl font-bold font-ubuntu">
                <i class="fa-solid fa-bolt"></i> Lightning Fast
            </h1>
            <p class="text-md font-poppins text-justify">
                Nintod is built on top of the Discord.js library. This means that it is blazing fast and has a very low latency.
                This means that you can have a great experience using Nintod. We are working hard to make Nintod as fast as possible.
                Quality is our priority.
            </p>
        </div>
        <div class="rounded-lg p-2 bg-gray-700 basis-full flex flex-col shadow-lg hover:-translate-y-2 duration-200">
            <h1 class="text-3xl font-bold font-ubuntu">
                <i class="fa-solid fa-pen-to-square"></i> Customizable
            </h1>
            <p class="text-md font-poppins text-justify">
                As stated before, Nintod is customizable. You can change the look and feel of the bot to your liking.
                Nintod uses Apache-2.0 license. You can use the code as you wish. You can also use the code in your own projects.
                (Just make sure to follow the Apache-2.0 license).
            </p>
        </div>
    </div>
</div>
<%- include('components/Footer.ejs') %>