<%- include('components/Header.ejs') %>
<head>
    <title><%= title %></title>
</head>
<div class="grid h-screen place-items-center dark:bg-black bg-white">
    <div class="flex flex-col justify-center items-center">
        <img src="/public/nt_black.png" id="logo" alt="logo" width="300px" class="rounded-full">
        <h1 class="text-6xl font-sarabun font-bold">THE NINTOD PROJECT</h1>
        <p class="text-xl font-sarabun">A simple, open-source, and free, fast, secure, and reliable discord bot.</p>
        <div class="flex flex-row w-full gap-2">
            <a href="https://x.vvx.bar/nt/inv" class="w-full" target="_blank">
                <button class="btn-1">INVITE</button>
            </a>
            <a href="https://github.com/thevvx/Nintod" class="w-full" target="_blank">
                <button class="btn-2">GITHUB</button>
            </a>
            <a href="https://github.com/thevvx/Nintpod#readme" class="w-full" target="_blank">
                <button class="btn-1">DOCUMENTATION</button>
            </a>
        </div>
    </div>
</div>