<div class="bottom-0 bg-gray-900 flex flex-row justify-between py-4 px-6">
    <h1 class="font-ubuntu text-gray-500">
        Copyright &copy; 2022 <a href="https://github.com/thevvx">VVX</a>
    </h1>
    <div class="flex flex-row gap-4">
        <h1 class="font-ubuntu text-gray-500 cursor-pointer" onclick="location.href = '/license'">
            License
        </h1>
        <h1 class="font-ubuntu text-gray-500 cursor-pointer" onclick="location.href = '/privacy'">
            Privacy Policy
        </h1>
        <h1 class="font-ubuntu text-gray-500 cursor-pointer" onclick="location.href = '/terms'">
            Terms of Service
        </h1>
        <h1 class="font-ubuntu text-gray-500 cursor-pointer" onclick="location.href = '/contact'">
            Contact Us
        </h1>
    </div>
</div>