<div class="flex flex-row justify-between bg-gray-900 px-12 items-center sticky">
    <img src="/public/nt_svg.svg" alt="logo" width="70px" class="hover:scale-110 duration-200" onclick="location.href = '/'">
    <div class="flex flex-row gap-8">
        <h1 class="text-lg font-bold font-ubuntu cursor-pointer" onclick="location.href = '/'">
            Home
        </h1>
        <h1 class="text-lg font-bold font-ubuntu cursor-pointer" onclick="location.href = '/about'">
            About
        </h1>
        <h1 class="text-lg font-bold font-ubuntu cursor-pointer" onclick="location.href = 'https://vvx1.statuspage.io/'">
            Status
        </h1>
        <h1 class="text-lg font-bold font-ubuntu cursor-pointer" onclick="location.href = '/contact'">
            Contact
        </h1>
    </div>
</div>