@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sarabun&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

.font-bebas {
  font-family: 'Bebas Neue', cursive;
}

.font-sarabun {
  font-family: 'Sarabun', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  @apply dark:text-white text-black;
}

.btn-1 {
  @apply px-4 py-2 dark:bg-white bg-black dark:text-black text-white text-sm font-sarabun rounded-lg dark:hover:bg-black hover:bg-white dark:hover:text-white hover:text-black hover:border dark:border-white border-black duration-200 font-bold w-full;
}

.btn-2 {
  @apply px-4 py-2 font-sarabun rounded-lg w-full text-sm text-white bg-black border border-white hover:bg-white hover:text-black font-bold duration-200
}